
<div id="question">

	<form action="/surveys/<%=@survey.id%>/questions" id="question-button" method = "post">
		<input type="text" name="question" placeholder="Enter your question here">

		 <input type="submit" id='question-submit' value="Submit">
	</form>

</div>
<br>
<script src="/js/question/question_view.js"></script>

