<div class="container">  
  <form name="new_survey" action='/surveys' method='post'>
    <h3><label class='form-label'>Survey Title</label><h3>
    <input type="text" placeholder="Title" name="survey[title]">
    <p></p>

    <br>
    <button type="submit">Create Survey</button>
  </form>
</div>