<div id="choices">
  <ol>
  <% choices.each do |choice| %>

    <li class='choice'><%= choice.option %></li>

  <% end %>
  </ol>

  <form method="post" action="/questions/<%= choices[0].question.id %>">
    <input type="hidden" name="_method" value="delete">
    <div>
      <input type="submit" value="Delete Question">
    </div>
  </form>

<div>

