<div class='container'>
  <form method="post" action="/surveys">

    <div class="create_survey">
      <input type="text" name="survey[title]" placeholder="Survey Title">
    </div>

    <div>
      <input type="submit" value="Create Survey">
    </div>

  </form>

</div>