<div class='container'>
  <% @user.surveys.each do |survey| %>
    <h2><%= survey.title %></h2>

    <form method="get" action="/surveys/<%= survey.id %>/questions ">
      <div>
        <input type="submit" value="View Survey">
      </div>
    </form>

    <form method="get" action="/surveys/<%= survey.id %>/edit ">
      <div>
        <input type="submit" value="Edit Survey">
      </div>
    </form>

    <form method="post" action="/surveys/<%= survey.id %>">
      <input type="hidden" name="_method" value="delete">
      <div>
        <input type="submit" value="Delete Survey">
      </div>
    </form>

    <hr>

  <% end %>

    <form method="get" action="/surveys/new">
      <div>
        <input type="submit" value="Create New Survey">
      </div>
    </form>

</div>