<div class='container'>
  <form method="post" action="/surveys/<%= @survey.id %>/takes">

    <div class="take_survey">
      <% @survey.questions.each do |question| %>
        <h3><%= question.title %></h3>

        <% question.choices.each_with_index do |choice, i| %>
          <input class='checkbox' type="checkbox" name="response_ids[]" value="<%= choice.id %>" />
          <!-- Must understand the name/value fields of this better.  It will make most sense later. -->
          <%= choice.option %><br/>
        <% end %>

      <% end %>

      <br/>
      <input type="submit" value="Finish Survey">
    </div>

  </form>

</div>
