<div class='container'>
  <% @surveys.each do |survey| %>
    <h2><%= survey.title %></h2>

    <% if current_user.takes.pluck(:survey_id).include?(survey.id) %>

      <div class='survey-show'>
        <form method="get" action="/surveys/<%= survey.id %>/takes/new">
          <div>
            <input type="submit" value="See Your Answers (not working)">
          </div>
        </form>
      </div>


    <% else %>
      <div class='survey-show'>
        <form method="get" action="/surveys/<%= survey.id %>/takes/new">
          <div>
            <input type="submit" value="Take Survey">
          </div>
        </form>
      </div>
    <% end %>

    <hr>

  <% end %>

</div>
