<div class='container'>

  <div class="marketing">
    <h2>Are You Ready for the Squid?</h2>
    <p>
      Survey Squid is an engine that allows a user to create, distribute and answer surveys. Please <a href='/login'>log in</a> in order to take an existing survey or create a new one.
    </p>
  </div>

  <div class="features">
    <div id='build-new' class='items'>
      <h3><a href='/surveys/new'> Build New Survey</a> </h3>
      <p>
        Build a new survey from scratch and have your friends take it!  You will be able to add questions, set answer choices, review all takers and manage the process through our super chill interface.
      </p>
    </div>

    <div id='take-survey' class='items'>
      <h3><a href='/surveys'> Respond to a Survey</a> </h3>
      <p>
        Respond to an existing survey.  You results will be logged and presented to the survey's owner.  Take one now.  Don't delay!  Yay!
      </p>
    </div>
  </div>

</div>