<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title>Survey Squid</title>
</head>
<body>
  <header>
    <span class="brand"><a href="/">SurveySquid</a></span>
    <nav>
      <ul>
        <li><a href="/surveys">My Surveys</a></li>
        <li><a href="/takes">Take a Survey</a></li>
        <% if session[:user_id] %>
          <li><a href="/logout">Log Out</a></li>
        <% else %>
          <li><a href="/login">Log In</a></li>
        <% end %>
      </ul>
    </nav>
  </header>

  <div class='container'>


  </div>



  <%= yield %>

  <footer>
    Copyright &copy; 2015, SurveySquid, LLC
  </footer>
</body>
</html>
