<!DOCTYPE html>
<html lang="en">
<head>
  <!-- 
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <script src="/js/question/question_view.js"></script>

  <title>Survey Squid</title>
</head>
<body>
  <header>
    <a href="/"><span class="brand">SurveySquid</span></a>
    <nav>
      <ul>
        <% if logged_in? %>
          <a href="/surveys"><li class='nav-link'>My Surveys</li></a>
          <a href="/takes"><li class='nav-link'>Take a Survey</li></a>
          <a href="/logout"><li class='nav-link'>Log Out</li></a>
        <% else %>
          <a href="/login"><li class='nav-link'>Log In</li></a>
          <a href="/users/new"><li class='nav-link'>Sign Up</li></a>
        <% end %>
      </ul>
    </nav>
  </header>


  <%= yield %>

  <footer>
    Copyright &copy; 2015, SurveySquid, LLC
  </footer>
</body>
</html>
